body {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 95vw;
}

img {
    max-width: 95vw;
}

#welcome-banner {
    width: 400px;
}